---
title: Blog
layout: 'base.njk'
---

<body style="background-color: black; color: white;">

<img class="" src="/images/discog.jpg" width="475px">
<img class="" src="/images/summer_days.jpg" width="347px" style="justify-content: space-around">


</body>