---
title: Blog
layout: 'base.njk'
---

<body style="background-color: black; color: white;">
  <div class="blog-image">
    <h1 class="blogImage-text">
      Adventure <br />
      Awaits
    </h1>
     <!--a class="image-btn" href="./blog">Learn More</a-->
  </div>

<!--div class="blog-content">
  <img src="/images/party6.jpg">
</div-->



<!--div class="blog-text">
  <h1>Wax Stack</h1>
  <h1>Snapsicles</h1>
</div-->

</body>