---
title: Blog
layout: 'base.njk'
---

<body style="background-color: black; color: white">
  <div class="blog-image">
    <a href="wax-stack.md" class="blog-text1">Wax Stack</a>
    <a href="" class="blog-text2">Snapsicles</a>
  </div>

  <button id="play-audio-button">Play Audio</button>
  <audio id="autoplay-audio">
    <source src="beach-boys.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>

  <!--div class="section container">
    <h1 class="section-title">Recent articles</h1>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}
    </ul-->
</body>