---
title: Home Page
layout: 'base.njk'
---

<body>
  <div class="home-image">
    <h1 class="home-text">
      Adventure <br />
      Awaits
    </h1>
    <a class="home-btn" href="./blog">Learn More</a>
  </div>

  <!--footer class="home-footer">
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-facebook"></a>
  </footer-->
</body>