---
title: Home Page
layout: 'base.njk'
---

<body class="home-body">
  <div class="home-image">
    <h1 class="home-image-text">
      Adventure <br />
      Awaits
    </h1>
     <a class="home-image-btn" href="./blog">Learn More</a>
  </div>

  <!--div class="home-content">
        <h1 class="h1-content">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <p class="paragraph-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vero sequi
          eligendi quam ratione! Quaerat rem doloremque consectetur soluta voluptates
          voluptas praesentium unde accusamus quo exercitationem, sed similique enim
          iure?
        </p>
        <a class="content-button" href="">"I had to spend in bed with a flu bug instead of on a yacht with the photographer"</a>
      </div-->

  <!--div class="footer-image">
        <div>
          <div>
            <div>
              <h1 class="home-image-text2">Get 20% Off Your First Trip</h1>
            </div>
          </div>
          <a class="home-image-btn2" href="">Learn More</a>
        </div>
      </div-->

  <footer class="home-footer">
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-facebook"></a>
  </footer>
</body>