/* All Pages */
body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

/* Home Page */
.main-header {
  height: 65px;
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 0%;
  justify-content: space-between;
}

.main-title {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.main-title:hover {
  text-decoration: underline;
}

.header-btn {
  background-color: black;
  margin-top: 35%;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  margin: 10pt;
  margin-right: 30px;
}

.home-image {
  background-image: url("/images/beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-text {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 77px;
  margin-top: 170px;
  margin-left: 65px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-btn {
  background-color: #ec5a30;
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 30px;
  margin-top: 354px;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-btn:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .home-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 50px;
    margin-top: 207px;
    margin-left: 32px;
    position: absolute;
  }

  .home-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 60px;
    margin-top: 197px;
    margin-left: 38px;
    position: absolute;
  }

  .home-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .home-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 70px;
    margin-top: 177px;
    margin-left: 58px;
    position: absolute;
  }

  .home-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .home-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 75px;
    margin-top: 173px;
    margin-left: 70px;
    position: absolute;
  }

  .home-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

.home-image-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

/*
.home-footer {
  height: 95px;
  width: 100%;
  margin-bottom: 0%;
  justify-content: space-between;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 10px;
  color: #7f7a82;
  font-size: 20px;
  width: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 1%;
}

.fa:hover {
  opacity: 0.7;
} 
*/

/* Blog Page */
.blog-image {
  background-image: url("/images/studio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.blog-text1 {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 20px black;
  display: flex;
  line-height: 77px;
  margin-top: 250px;
  margin-left: 325px;
  text-decoration: none;
  position: absolute;
  transition: transform 2s ease-in-out;
}

.blog-text2 {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 20px black;
  display: flex;
  margin-top: 255px;
  margin-left: 955px;
  text-decoration: none;
  position: absolute;
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
}

@media (max-width: 767px) {
  .blog-text1 {
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 77px;
    margin-top: 250px;
    margin-left: 105px;
    text-decoration: none;
    position: absolute;
    transition: transform 2s ease-in-out;
  }

  .blog-text2 {
    color: white;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 360px;
    margin-left: 105px;
    text-decoration: none;
    position: absolute;
    transform: translateY(100%);
    transition: transform 2s ease-in-out;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .blog-text1 {
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 77px;
    margin-top: 250px;
    margin-left: 35px;
    text-decoration: none;
    position: absolute;
    transition: transform 2s ease-in-out;
  }

  .blog-text2 {
    color: white;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 260px;
    margin-left: 420px;
    text-decoration: none;
    position: absolute;
    transform: translateY(100%);
    transition: transform 2s ease-in-out;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .blog-text1 {
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 77px;
    margin-top: 250px;
    margin-left: 135px;
    text-decoration: none;
    position: absolute;
    transition: transform 2s ease-in-out;
  }

  .blog-text2 {
    color: white;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 255px;
    margin-left: 625px;
    text-decoration: none;
    position: absolute;
    transform: translateY(100%);
    transition: transform 2s ease-in-out;
  }
}

.blog-text1,
.blog-text2 {
  opacity: 0;
}

.blog-text1:hover,
.blog-text2:hover {
  text-decoration: underline;
}

.blog-def1 {
  font-size: 25px;
}

/* Wax Stack */
.wrapper1 {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.header1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background1 {
  background-image: url("/images/beach-sunshine.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.foreground1 {
  background-image: url("/images/safari.png");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  transform: translateZ(-5px) scale(1.5);
}

.background1,
.foreground1 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px black;
}

.section1 {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

/* Snapsicles Page */
.wrapper2 {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.header2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background2 {
  background-image: url("/images/parking-lot.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.foreground2 {
  background-image: url("/images/shut-down2.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
}

.background2,
.foreground2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.title2 {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.section2 {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}
