/* All Pages */
body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: "Figtree", sans-serif;
}

/* Home Page */
.main-header {
  height: 65px;
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 0%;
  justify-content: space-between;
}

.main-title {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.main-title:hover {
  text-decoration: underline;
}

.header-btn {
  background-color: black;
  margin-top: 35%;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  margin: 10pt;
  margin-right: 30px;
}

.home-image {
  background-image: url("/images/beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-text {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 77px;
  margin-top: 170px;
  margin-left: 65px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-btn {
  background-color: #ec5a30;
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 30px;
  margin-top: 354px;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-btn:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .home-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 50px;
    margin-top: 207px;
    margin-left: 32px;
    position: absolute;
  }

  .home-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

.home-image-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

/* Blog Page */
.blog-image {
  background-image: url("/images/studio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.blog-text1 {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 20px black;
  display: flex;
  line-height: 77px;
  margin-top: 250px;
  margin-left: 325px;
  text-decoration: none;
  position: absolute;
  transition: transform 2s ease-in-out;
}

.blog-text2 {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 20px black;
  display: flex;
  margin-top: 255px;
  margin-left: 955px;
  text-decoration: none;
  position: absolute;
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
}

@media (max-width: 767px) {
  .blog-text1 {
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 77px;
    margin-top: 250px;
    margin-left: 105px;
    text-decoration: none;
    position: absolute;
    transition: transform 2s ease-in-out;
  }

  .blog-text2 {
    color: white;
    display: flex;
    font-family: "Figtree", sans-serif;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-top: 360px;
    margin-left: 105px;
    text-decoration: none;
    position: absolute;
    transform: translateY(100%);
    transition: transform 2s ease-in-out;
  }
}

.blog-text1,
.blog-text2 {
  opacity: 0;
}

.blog-text1:hover,
.blog-text2:hover {
  text-decoration: underline;
}

/* Wax Stack */
* {
  box-sizing: border-box;
}

.waxStack-body {
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
  overflow-x: hidden;
  color: white;
  text-align: center;
}

.waxStack-container {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.waxStack-word {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px black;
  margin-bottom: -1%;
}

.waxStack-def {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px black;
  margin-bottom: -14%;
}

.waxStack-header1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 9%;
  transform-style: preserve-3d;
  z-index: -1;
}

.waxStack-background1 {
  background-image: url("/images/beach-sunshine.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.waxStack-foreground1 {
  background-image: url("/images/safari.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 99vh;
  top: 0;
  left: 0;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
}

.waxStack-background1,
.waxStack-foreground1 {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.waxStack-title1 {
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px black;
  margin-bottom: 17%;
}

.waxStack-content1 {
  font-size: 1.5rem;
  padding: 1%;
  margin-top: 15%;
  height: 95%;
  background-color: #333;
  text-align: center;
}

@media (max-width: 767px) {
  .waxStack-word {
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 0 0 30px black;
    margin-bottom: -4%;
  }

  p {
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 0 0 30px black;
    margin-bottom: -34%;
  }

  .waxStack-header1 {
    position: relative;
    display: flex;
    height: 100%;
    margin-top: 6%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .waxStack-background1 {
    background-image: url("/images/beach-sunshine.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 38%;
    transform: translateZ(-10px) scale(2);
    transform-style: preserve-3d;
  }

  .waxStack-foreground1 {
    background-image: url("/images/safari.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 98vh;
    top: 0;
    left: 0;
    transform: translateZ(-5px) scale(1.5);
    transform-style: preserve-3d;
  }

  .waxStack-background1,
  .waxStack-foreground1 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .waxStack-title1 {
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 0 0 15px black;
    margin-bottom: 107%;
  }
  .waxStack-content1 {
    font-size: 20px;
    padding: 5%;
    margin-top: 15%;
    height: 60%;
    background-color: #333;
    color: white;
  }
}

.waxStack-header2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.waxStack-background2 {
  background-image: url("/images/studio-empty.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 38%;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.waxStack-foreground2 {
  background-image: url("/images/stack-o-tracks.png");
  background-size: 40%;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-top: 40%;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
}

.waxStack-background2,
.waxStack-foreground2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.waxStack-title2 {
  font-size: 70px;
  margin-top: -1%;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px black;
}

.waxStack-content2 {
  font-size: 1.5rem;
  padding: 1%;
  margin-top: 15%;
  height: 50%;
  background-color: #333;
  text-align: center;
  color: white;
}

@media (max-width: 767px) {
  .waxStack-header2 {
    position: relative;
    display: flex;
    height: 100%;
    margin-top: 6%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .waxStack-background2 {
    background-image: url("/images/studio-empty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateZ(-10px) scale(2);
    transform-style: preserve-3d;
  }

  .waxStack-foreground2 {
    background-image: url("/images/stack-o-tracks.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 98vh;
    top: 0;
    left: 0;
    transform: translateZ(-5px) scale(1.5);
    transform-style: preserve-3d;
  }

  .waxStack-background2,
  .waxStack-foreground2 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .waxStack-title2 {
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 0 0 15px black;
    margin-bottom: 60%;
  }

  .waxStack-content2 {
    font-size: 20px;
    padding: 5%;
    margin-top: 15%;
    height: 30%;
    background-color: #333;
    color: white;
  }
}

/* Snapsicles Page */
.snapsicles-body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
  text-align: center;
}

.snapsicles-wrapper1 {
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 10px;
}

.title2 {
  font-size: 40px;
  margin-bottom: 5%;
  text-align: center;
}

.snapsicles-word {
  font-size: 29.5px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 0 0 15px black;
  margin-bottom: -0.8%;
}

.snapsicles-def {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px black;
  margin-bottom: -5%;
}

.snapsicles-header1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.snapsicles-background1 {
  background-image: url("/images/parking-lot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.snapsicles-foreground1 {
  background-image: url("/images/shut-down2.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
}

.snapsicles-background1,
.snapsicles-foreground1 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.snapsicles-title1 {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.snapsicles-section1 {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.snapsicles-header2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.snapsicles-background2 {
  background-image: url("/images/parking-lot.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-10px) scale(2);
  transform-style: preserve-3d;
}

.snapsicles-foreground2 {
  background-image: url("/images/shut-down2.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  transform: translateZ(-5px) scale(1.5);
  transform-style: preserve-3d;
}

.snapsicles-background2,
.snapsicles-foreground2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.snapsicles-title2 {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.snapsicles-section2 {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

@media (max-width: 767px) {
  .snapsicles-body {
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    text-align: center;
  }

  .snapsicles-wrapper1 {
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
  }

  .snapsicles-header1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .snapsicles-background1 {
    background-image: url("/images/parking-lot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(-10px) scale(2);
    transform-style: preserve-3d;
  }

  .snapsicles-foreground1 {
    background-image: url("/images/shut-down2.png");
    background-size: 100%;
    margin-top: 25%;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: translateZ(-5px) scale(1.5);
    transform-style: preserve-3d;
  }

  .snapsicles-background1,
  .snapsicles-foreground1 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .snapsicles-title1 {
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 5px black;
  }

  .snapsicles-section1 {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
  }

  .snapsicles-header2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .snapsicles-background2 {
    background-image: url("/images/parking-lot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateZ(-10px) scale(2);
    transform-style: preserve-3d;
  }

  .snapsicles-foreground2 {
    background-image: url("/images/shut-down2.png");
    background-size: 100%;
    margin-top: 25%;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: translateZ(-5px) scale(1.5);
    transform-style: preserve-3d;
  }

  .snapsicles-background2,
  .snapsicles-foreground2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .snapsicles-title2 {
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 5px black;
  }

  .snapsicles-section2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
  }

  .snap-images {
    width: 100%;
  }
}

/* Page Links */
.home-link {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.home-link:hover {
  text-decoration: underline;
}

.snap-link {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.snap-link:hover {
  text-decoration: underline;
}

.waxStack-link {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.waxStack-link:hover {
  text-decoration: underline;
}