/* Home Page */
.home-body {
  background-color: black;
}

.home-header {
  height: 65px;
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 0%;
  justify-content: space-between;
}

.header-title {
  color: white;
  margin-top: 0.9%;
  margin-left: 2.5%;
  font-size: 20.5px;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.header-title:hover {
  text-decoration: underline;
}

.header-btn {
  background-color: black;
  margin-top: 35%;
  border-style: none;
  outline-style: none;
  cursor: pointer;
  margin: 10pt;
  margin-right: 30px;
}

.home-image {
  background-image: url("/images/beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
}

.home-image-text {
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 77px;
  margin-top: 170px;
  margin-left: 65px;
  position: absolute;
}

.home-image-btn {
  background-color: #ec5a30;
  color: white;
  font-family: "Figtree", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 30px;
  margin-top: 354px;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .home-image-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 50px;
    margin-top: 207px;
    margin-left: 32px;
    position: absolute;
  }

  .home-image-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-image-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 60px;
    margin-top: 197px;
    margin-left: 38px;
    position: absolute;
  }

  .home-image-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .home-image-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 70px;
    margin-top: 177px;
    margin-left: 58px;
    position: absolute;
  }

  .home-image-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .home-image-text {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 75px;
    margin-top: 173px;
    margin-left: 70px;
    position: absolute;
  }

  .home-image-btn {
    background-color: #ec5a30;
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 30px;
    margin-top: 345px;
    margin-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
  }
}

.home-image-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.home-footer {
  height: 95px;
  width: 100%;
  margin-bottom: 0%;
  justify-content: space-between;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 10px;
  color: #7f7a82;
  font-size: 20px;
  width: 1px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 1%;
}

.fa:hover {
  opacity: 0.7;
}

/* Blog Page */

.blog-image {
  background-image: url("/images/studio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4.6%;
  height: 580px;
  position: relative;
}

.blog-text1 {
  color: white;
  display: flex;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 77px;
  margin-top: 250px;
  margin-left: 275px;
  text-decoration: none;
  position: absolute;
}

.blog-text2 {
  color: white;
  display: flex;
  font-family: "Figtree", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 250px;
  margin-left: 1000px;
  text-decoration: none;
  position: absolute;
}

.blog-text1:hover {
  text-decoration: underline;
}

.blog-text2:hover {
  text-decoration: underline;
}